include versioneer.py
include neuromake/_version.py
recursive-include neuromake/config *.json
recursive-include neuromake/tests/config *.json
recursive-include neuromake/tests/bids *
recursive-include neuromake/tests/bidslayout *
